<div class="rayout">
  <div class="m-5 h2">予約の変更 取り消し</div>
  <%= form_with model: @reservation, local: true do |f| %>
    <div class="reservation-box form-inline">
      <%= f.date_select :start_time, {use_month_numbers: true, start_year: 2020}, class:"reservation-select" %>
      <%= f.collection_select(:create_time_id, CreateTime.all, :id, :name, {}, {class:"reservation-select"}) %>
      <%= f.submit "予約を変更する" ,class:"btn btn-success w-auto h-auto" %>
      <%= link_to '取り消す', reservation_path(@reservation.id), method: :delete, class:'btn btn-danger' %>
    </div>
  <% end %>
</div>