<!DOCTYPE html>
<html>
  <head>
    <title>⚪︎⚪︎自動車学校</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_inner">
        <h1 class="school_name"><a href="/">⚪︎⚪︎自動車学校</a></h1>
        <div class="burger-ic">
          <span class="top"></span>
          <span class="center"></span>
          <span class="bottom"></span>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer_main">
      <div class="footer_inner">
        <%= link_to "会社概要", "/", class: "new" %>
        <%= link_to "マップ", "/", class: "new" %>
        <%= link_to "個人情報について", "/", class: "new" %>
      </div>
      <p class="footer_logo">Driving school</p>
    </footer>
  </body>
</html>
